{#
    REQUIERE:
        -expediente
#}
{#BOTONES CON ICONO ARRIBA#}
{#<li class="active">
    <a href="/legalPro2-8/web/app_dev.php/expediente/show/4083" style="text-align: center">
        <span class="glyphicon glyphicon-th-large" style="font-size: 25px"></span>
        <br><br>General
    </a>
</li>#}
{% extends '::subnav/subnav.html.twig' %}
{% 
    set buttons = 
        {
            1:{'name':'general','label':'<span class="glyphicon glyphicon-th-large"></span> General','path':path('expediente_show',{'id':expediente.id})},
            2:{'name':'tipodeproceso','label':'<span class="glyphicon glyphicon-text-width"></span> Tipo de Proceso','path':path('expediente_tipodeproceso_list',{'id':expediente.id})},
            3:{'name':'actuaciones','label':'<span class="glyphicon glyphicon-list"></span> Actuaciones','path':path('expediente_actuaciones_list',{'id':expediente.id})},
            4:{'name':'intervinientes','label':'<span class="glyphicon glyphicon-user"></span> Partes','path':path('expediente_intervinientes_list',{'id':expediente.id})},
            5:{'name':'documentos','label':'<span class="glyphicon glyphicon-save-file"></span> Documentos','path':path('documento_list',{'expediente':expediente.id})},
            6:{'name':'abogados','label':'<span class="glyphicon glyphicon-education"></span> Abogados','path':path('expediente_abogados_list',{'id':expediente.id})},
            7:{'name':'vinculados','label':'<span class="glyphicon glyphicon-pushpin"></span> Vinculados','path':path('expediente_vinculados_list',{'id':expediente.id})},
            8:{'name':'agenda','label':'<span class="glyphicon glyphicon-calendar"></span> Agenda','path':path('expediente_show',{'id':expediente.id})},
            9:{'name':'cc','label':'<span class="glyphicon glyphicon-usd"></span> Gastos','path':path('expediente_cc_list',{'expediente':expediente.id})}
        }
%}
