{#
    REQUIERE:
        -expediente
#}
{% extends '::submenu/submenu_buttons.html.twig' %}

{%block heading %}
    <span class="glyphicon glyphicon-list"></span> {{section|capitalize}}
{% endblock %}
    
        