<div class="panel panel-default">
    <div class='panel-heading'>Expedientes</div>
        <ul class='nav nav-pills nav-stacked'>
            <li><a><span class="glyphicon glyphicon-file"></span> Nuevo</a></li>
            <li><a><span class="glyphicon glyphicon-list-alt"></span> Listado</a></li>
            <li><a><span class="glyphicon glyphicon-trash"></span> Eliminar</a></li>
            <li><a><span class="glyphicon glyphicon-folder-open"></span> Familias</a></li>
        </ul>
    </div>
</div>