{% extends 'ABMBundle::_layout.html.twig' %}
{% block form_buttons %}
    <div class="form-group text-right">
        {% if abmManager.ShowButtonCancel %}
            <a href="{{ abmManager.cancelPath }}">{%trans%}boton_cancel{%endtrans%}</a>
        {%endif%}
        
        {% if abmManager.ShowButtonSave %}
            <input class="btn btn-primary" name= "guardar" type="submit" value="{%trans%}boton_save{%endtrans%}" />
        {%endif%}
    </div>
{% endblock %}