{% extends '::base.html.twig' %}

{% block title %}Demo Application{% endblock %}
{% block aside_left %}{% endblock %}
{% block aside_right %}{% endblock %}
{#{% block aside_breadcrumb %}{% endblock %}#}

{% block body %}
{#    <div class='jumbotron'>#}
        <div class='container-fluid'>
            {% block fos_user_content %}{% endblock %}
        </div>
{#    </div>#}
{% endblock %}