{#
    REQUIERE:
        -NADA
#}
{% extends '::submenu/submenu.html.twig' %}

{%block heading %}
    <span class="glyphicon glyphicon-list"> {{codigoTipoEntidad}}</span>
{% endblock %}


{% block buttons %}
    <li><a href="{{path('entidad_list',{'codigoTipoEntidad': codigoTipoEntidad}) }}"><span class="glyphicon glyphicon-th"></span> Listado</a></li>
    <li><a href="{{path('entidad_delete',{'id':entidad.id})}}"><span class="glyphicon glyphicon-trash" style="color:red"></span> Eliminar</a></li>
{% endblock %}    
