    {#AGENDA#}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-calendar"></span> {%trans%}menu_agenda{%endtrans%}<b class="caret"></b>
        </a>
        {#<ul class="dropdown-menu">
            <li><a href="{{path("agenda_list",{'tipo': 0})}}">Eventos de hoy</a></li>
            <li><a href="{{path("agenda_list",{'tipo': 1})}}">Eventos del mes</a></li>
            <li><a href="{{path("agenda_list",{'tipo': 2})}}">Todos los eventos</a></li>
            <li class="divider"></li>
            <li><a href="{{path("agenda_new",{'tipo':'2'})}}">Nuevo evento</a></li>
        </ul>#}
    </li>  

