 {#CONTABILIDAD#}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-usd"></span> Contabilidad<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Gastos Generales</a></li>
            <li><a href="#">Cuenta Corriente de Clientes</a></li>
            <li><a href="#">Cuenta Corriente de Casos</a></li>
            <li><a href="#">Cuenta Corriente de Casos</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="{{path('contabilidad_tipocuentas_list')}}">Tipos de Cuentas Contables</a></li>
        </ul>
    </li>    
    


