    {# ESTUDIO    #}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-education"></span> {%trans%}menu_estudio{%endtrans%}<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{path("estudio_cuenta")}}">Cuenta</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="{{path("estudio_show")}}">{%trans%}menu_estudio_datosestudio{%endtrans%}</a></li>
            <li><a href="{{path("user_list")}}">{%trans%}menu_estudio_usuario{%endtrans%}</a></li>
        </ul>
    </li>

