{% extends 'UserBundle::layout.html.twig' %}
{% block aside_breadcrumb %}
    {{ knp_menu_render('CommonBundle:BreadcrumbBuilder:profileMenu', {'allow_safe_labels': true} ) }}
{% endblock %}
{% block aside_left %}
    {% render (controller("CommonBundle:Submenu:profile", {'active' : 'datos_de_cuenta'})) %}
{% endblock %}
{% block body %}
    <div class='col-xs-6 text-right'>Nombre de usuario:</div><div class='col-xs-6'>{{ user.username }}</div>
    <div class="clearfix"></div>
    <div class='col-xs-6 text-right'>E-Mail:</div><div class='col-xs-6'>{{ user.email }}</div>
    <div class="clearfix"></div>
    <div class='text-right'><a class='btn btn-default' href='{{ path("fos_user_profile_edit") }}'>Modificar</a></div>
{% endblock %}