<style>
{##landing-wrapper {
  display: table;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://placehold.it/350x150');
  background-position: center top;
  height: 350px;
  color: white;
}#}
</style>
<header class="navbar navbar-default navbar-fixed-top landing-wrapper">          
    {# TITULO #}
    {% include 'menu/submenu/titulo.html.twig' %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        {% if app.user.username is defined %}        
            <ul class="nav navbar-nav">

                {#Crear Nuevo Envio#}
                {% include 'menu/submenu/nuevo_envio.html.twig' %} 
                
                {#Mis Envios#}
                {% include 'menu/submenu/mis_envios.html.twig' %} 
                
            </ul>  

            <ul class="nav navbar-nav navbar-right pull-right">

                {# ALERTAS #}
                {% include 'menu/submenu/alerta.html.twig' %} 
                
                {# USUARIO #}
                {% include 'menu/submenu/usuario.html.twig' %}

            </ul>
        {%else%}
            <ul class="nav navbar-nav">
                {% include 'menu/submenu/usuario.html.twig' %}
            </ul>
        {%endif%}
    </div>
</header>          
