<header class="navbar navbar-default navbar-fixed-top">          
    {# TITULO #}
    {% include 'menu/submenu/titulo.html.twig' %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        {% if app.user.username is defined %}        
            <ul class="nav navbar-nav">

                {#CASOS#}
                {% include 'menu/submenu/caso.html.twig' %}

                {#ENTIDADES#}
                {% include 'menu/submenu/entidad.html.twig' %}

                {#AGENDA#}
                {% include 'menu/submenu/agenda.html.twig' %} 

                {#CONTABILIDAD#}
                {% include 'menu/submenu/contabilidad.html.twig' %}                 
                
            </ul>  

            <ul class="nav navbar-nav navbar-right pull-right">

                {# EXPEDIENTES FAVORITOS #}
                {% include 'menu/submenu/favorito.html.twig' %}                 
                
                {# ALERTAS #}
                {% include 'menu/submenu/alerta.html.twig' %} 
                
                {# BUSCAR #}
                {% include 'menu/submenu/buscar.html.twig' %} 

                {# ESTUDIO #}
                {% include 'menu/submenu/estudio.html.twig' %}  
                
                {# USUARIO #}
                {% include 'menu/submenu/usuario.html.twig' %}

            </ul>
        {%else%}
            <ul class="nav navbar-nav">
                {% include 'menu/submenu/usuario.html.twig' %}
            </ul>
        {%endif%}
    </div>
    
        
    {#    {% include 'nav/sections/alerts_nav.html.twig' %}#}
    {#    {% include 'nav/sections/favorites_nav.html.twig' %} #}
    {#    {% include 'nav/sections/find_nav.html.twig' %}#}
</header>          
