<header class="navbar navbar-default navbar-fixed-top">          
    {# TITULO #}
    {% include 'menu/submenu/titulo.html.twig' %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        {% if app.user.username is defined %}        
            <ul class="nav navbar-nav">
                {#ENVIOS#}
                {% include 'menu/submenu/nuevo_envio.html.twig' %}

                {#MISENVIOS#}
                {% include 'menu/submenu/mis_envios.html.twig' %}
            </ul>  

            <ul class="nav navbar-nav navbar-right pull-right">
                {# ALERTAS #}
                {% include 'menu/submenu/alerta.html.twig' %} 
                {# BUSCAR #}
{#                {% include 'menu/submenu/buscar.html.twig' %} #}
                {# USUARIO #}
                {% include 'menu/submenu/usuario.html.twig' %}
            </ul>
        {%else%}
            <ul class="nav navbar-nav">
                {% include 'menu/submenu/usuario.html.twig' %}
            </ul>
        {%endif%}
    </div>
</header>          
